@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.list
{
    margin-left: 5%;
    text-align: left;
}
.vis-para
{
    font-size: large;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}
.colmn
{
    height: 40vh;
    width: 40vw;
}
#presidentImage
{
    size: 20%;
    border: solid orangered;
    margin: 1%;
    margin-top: 0px;
    height: 150px;
    /* height: 32vw; */
    margin-left: 5%;
    /* margin-right: 5%; */
    border-radius: 50px;
    /* display:inline-flex ; */
    float: left;
}
#secretary-Image
{
    size: 20%;
    border: solid orangered;
    margin: 1%;
    margin-top: 0px;
    height: 150px;
    /* height: 32vw; */
    margin-left: 5%;
    /* margin-right: 5%; */
    border-radius: 50px;
    /* display:inline-flex ; */
    float: left;
}

.topic-header
{
    /* font-family: 'Pushster', cursive; */
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Pushster', cursive;
    color: rgb(15, 3, 122);
    margin-top: 5%;
    margin-bottom: 4%;
    margin-left: 5%;
}
.sub-header
{
    text-align: center;
    color: rgb(41, 146, 9);
    margin-top: 2%;
    
    /* margin-left: 1; */
    margin-bottom: 2%;
}
#vice-presidentImage
{
    /* size: 28%; */
    margin: 20px;
    border: solid orangered;
    margin-top: 0px;
    /* height: 32vw; */
    height: 150px;
    margin-left: 5%;
    border-radius: 50px;
    /* display:inline-flex ; */
    float: left;
}
@media screen and (max-device-width:480px) {
    #secretary-Image,#vice-presidentImage ,#presidentImage
    {
        margin-bottom: 4px;
        height: 32vw ;
    }
}
#ptext
{
    text-align: justify;
    margin-bottom: 5%;
    margin-right: 5%;
}
#vptext
{
    text-align: justify;
    margin-bottom: 5%;
    margin-right: 5%;
    /* align-items: center; */
    /* margin-left: 5%; */
}
.post-text
{
    font-family: 'Playfair Display', serif;
    margin-left: 35%;
}
.president
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: ridge;
    border-width: 5px;
    border-radius: 50px;
    align-items: left;
}
.vice-president
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: ridge;
    border-width: 5px;
    border-radius: 50px;
    align-items: left;
}
.secretary
{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: ridge;
    border-width: 5px;
    border-radius: 50px;
    align-items: left;
}
/*=== Basic box styling  ===*/
.box {
    background: #2ecc71 none repeat scroll 0 0;
    color: white;
    float: left;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 150px;
    line-height: 150px;
    margin: 1%;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
}
/*=== Trigger  ===*/
.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
    
  /*=== Optional Delays, change values here  ===*/
  .one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  }
  
  .two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
  }
  
  .three {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
  }
  
  .four {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
  }
  
  .five {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
  }
  
  .six {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
  }
  
  .seven {
  -webkit-animation-delay: 6.5s;
  -moz-animation-delay: 6.5s;
  animation-delay: 6.5s;
  }
  
  .eight {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  animation-delay: 7.5s;
  }
  
/*=== FADE IN LEFT ===*/
@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  /*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  