@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/* .tdn
{
    height: 20vw;
    border: solid black;
} */
#schoolheader
{
     /* font-family: 'Nunito', sans-serif; */
     font-family: 'Playfair Display', serif;
    /* margin-top: 4px; */
    font-size: 2.5vw;
    /* height: /vh; */
    color: orange; 
    /* font-style: inherit; */
    margin-left: 0%;       
    /* width: 40px ; */
    /* border: solid brown; */
}
.logo-image
{
    /* margin-left: 10px; */
    /* border: solid black ; */
    /* border-radius: 90px; */
    margin-top: -1vw;
    /* size: 30px; */
    /* height: 85px; */
    height: 7vw;
}
@media screen and ( max-width: 600px ) {
    .logo-image
    {
        margin-top: -15px ;
        height: 20vw;
        /* border: solid black; */
    }
    #schoolheader
    {
        margin-top: 2%;
        font-size: 8vw;
    }
}
@media screen and (max-device-width: 480px) {
    #alumniheader
    {
        /* border: solid black; */
        /* font-size: 20px; */
        font-size: 30px ;
        /* height: 50px; */
        font-size: 5vw;
        text-size-adjust: 3vw;
        /* width: 2vw; */
        color: blue;
        /* height: 2vw; */
    }  
}
#alumniheader
{
    font-size: 2vw;
    /* margin-top: 30px; */
    margin-left: 0%;
    margin-right: 40%;
}
.heading
{
    /* margin: 10px; */
    margin-left: 1px;
}
#navrow 
{
    /* margin-left: 20px; */
    /* padding-left: 220px; */
    /* border: solid black; */
    margin-top: -1vw;
    margin-left: -1.5vw;
    /* margin-right: -3vw; */
    color: white;
    width: 120%;
    background-color: red;
    /* background-color: red; */
}

#contfl
{
    /* border: solid blue; */
    /* width: 25000px; */
    position: relative;
    width: 100vw;
    margin-left: -1vw;
    margin-right: -1vw;
    /* vw: 100%; */
}
#td1
{
    /* display: ; */
    border: rgb(92, 29, 76);
    margin-bottom: 10px;
    width: 100%;
    /* background-color: red; */
}
.trnav 
{
    /* border: solid blue; */
    width: 100%;
    /* float: left; */
    /* display: block; */
    /* color: white; */
}
.navbutn
{
    color: white;
    margin-left: 40px;
}
